@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}

#root {
  height: 100%;
  width: 100%;
}

#root > main {
  width: 100%;
  height: 100%;
}

form > * {
  width: 100%;
  margin-bottom: 3rem;
}

form h1 {
  text-align: center;
  color: #333333;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  flex-direction: row-reverse;
}

.background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.layer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.header div {
  display: flex;
  align-items: center;
  gap: 1rem;
}
